<div class="box box-solid box-warning component collapsed-box">
  <div class="box-header">
    <h3 class="box-title">
      <i class="fa fa-cube"></i>
      {{type}}
    </h3>
  </div>
  <div class="box-subheader clearfix">
    <div class="component-status">
      <div class="component-status-state">
        <span class="hint--top" {{bind-attr data-hint="healthMessage"}}>
          <i {{bind-attr class=":fa :fa-fw healthIconClass"}}></i>
        </span>
        <span class="hint--top" {{bind-attr data-hint="operationalMessage"}}>
          <i {{bind-attr class=":fa :fa-fw operationalIconClass"}}></i>
        </span>
      </div>
      <div class="component-status-other">
        <i class="fa fa-fw fa-trophy assured"></i>
        <i class="fa fa-fw fa-lock unregistered"></i>
      </div>
    </div><div class="component-capacity">
      <div>1 core @ 2.3 GHz</div>
      <div class="clearfix">
        <small class="pull-left">Memory (GiB)</small>
        <small class="pull-right">31%</small>
      </div>
      <div class="progress xs">
        <div class="progress-bar progress-bar-green" style="width: 31%;"></div>
      </div>
      <div class="clearfix">
        <small class="pull-left">15</small><small class="pull-right">48</small>
      </div>
    </div><div class="component-charts">
      <img src="/assets/images/dials.png">
    </div>
  </div>
</div>
