<div class="vm box box-solid box-success component collapsed-box">
  <div class="box-header">
    <h3 class="box-title">
      <i class="fa fa-cube"></i>
      {{name}}
    </h3>
    {{!--
    <div class="box-tools pull-right">
      <button class="btn btn-success btn-sm" type="button">
        Details
        <i class="fa fa-toggle-right"></i>
      </button>
    </div>
    --}}
  </div>
  <div class="box-subheader clearfix">
    <div class="component-status">
      <div class="component-status-state">
        <span class="hint--top" {{bind-attr data-hint="status.short_message"}}>
          <i {{bind-attr class=":fa :fa-fw healthIconClass"}}></i>
        </span>
        <span class="hint--top" {{bind-attr data-hint="operationalMessage"}}>
          <i {{bind-attr class=":fa :fa-fw operationalIconClass"}}></i>
        </span>
        {{#if isAggressor}}
          <span class="hint--top" data-hint="Contention: Aggressor">
            <i class="fa fa-fw fa-bullhorn error"></i>
          </span>
        {{/if}}
      </div>
      <div class="component-status-other">
        <span class="hint--top" {{bind-attr data-hint="slaMessage"}}>
          <i {{bind-attr class=":fa :fa-fw slaIconClass"}}></i>
        </span>
        <span class="hint--top" {{bind-attr data-hint="trustMessage"}}>
          <i {{bind-attr class=":fa :fa-fw trustIconClass"}}></i>
        </span>
        {{#if isVictim}}
          <span class="hint--top" data-hint="Contention: Victim">
            <i class="fa fa-fw fa-headphones warning"></i>
          </span>
        {{/if}}
      </div>
    </div><div class="component-capacity">
      <div>
        {{#if hasCores}}
          <span class="hint--top" {{bind-attr data-hint="socketCorePinningMessage"}}>
            {{pluralize capabilities.cores "vCPU"}}
          </span>
        {{/if}}
      </div>
      <hr>
      <div>{{#if memoryCurrent}}{{to-fixed memoryCurrent 2}} GiB memory{{/if}}</div>
    </div>
    <div {{bind-attr class=":component-charts utilizationMax:double-charts"}}>
      <div class="chart-bar-horizontal">
        <div class="allocation">
          {{#if hasCompute}}
            <span class="hint--top" {{bind-attr data-hint="allocationMessage"}}>
              <small>SCU Allocation</small>
              <div {{bind-attr class=":allocation-bar isRange"}}>
                <div class="allocation-range"></div> {{! light orange dashed }}
                <div class="allocation-min" {{bind-attr style="allocationMinWidth"}}></div> {{! light green solid }}
                <div class="allocation-current">
                  <div class="allocation-current-warning" {{bind-attr style="utilizationBurstStyle"}}></div> {{! orange }}
                  <div class="allocation-current-success" {{bind-attr style="utilizationCurrentWidth"}}></div> {{! green }}
                </div>
              </div>
              {{n-a utilizationTotal}}
            </span>
          {{else}}
            {{n-a utilizationTotal suffix=" SCUs" prefix="SCU Utilization: "}}
          {{/if}}
        </div>
      </div>
      {{#if hasContention}}
        <div class="chart-bar-horizontal">
          <div class="clearfix">
            <small class="pull-left">Cache Contention</small>
            <small class="pull-right">{{to-fixed contentionCurrent 2}}</small>
          </div>
          <div class="progress xs">
            <div class="progress-bar progress-bar-green" {{bind-attr style="contentionStyle"}}></div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
