<div {{bind-attr class=":vms :box :box-solid :box-success :component isVmsExpanded::collapsed-box"}}>
  <div class="box-header" {{action "toggleVmsCollapsed" this}}>
    <div class="box-expand pull-left">
      {{#if isVmsExpanded}}
        <button class="btn btn-success btn-sm"><i class="fa fa fa-minus-square-o"></i></button>
      {{else}}
        <button class="btn btn-success btn-sm"><i class="fa fa fa-plus-square-o"></i></button>
      {{/if}}
    </div>
    <h3 class="box-title">
      Virtual Machines
    </h3>
  </div>
  {{#with aggregateVm}}
    <div class="box-subheader clearfix">
      <div class="component-status">
        <div class="component-status-state">
          <span class="hint--top" {{bind-attr data-hint="healthMessage"}}>
            <i {{bind-attr class=":fa :fa-fw healthIconClass"}}></i>
          </span>
          <span class="hint--top" {{bind-attr data-hint="operationalMessage"}}>
            <i {{bind-attr class=":fa :fa-fw operationalIconClass"}}></i>
          </span>
          {{#if isAggressor}}
            <span class="hint--top" data-hint="Contention: Aggressor">
              <i class="fa fa-fw fa-bullhorn error"></i>
            </span>
          {{/if}}
        </div>
        <div class="component-status-other">
          <span class="hint--top" {{bind-attr data-hint="slaMessage"}}>
            <i {{bind-attr class=":fa :fa-fw slaIconClass"}}></i>
          </span>
          <span class="hint--top" {{bind-attr data-hint="trustMessage"}}>
            <i {{bind-attr class=":fa :fa-fw trustIconClass"}}></i>
          </span>
          {{#if isVictim}}
            <span class="hint--top" data-hint="Contention: Victim">
              <i class="fa fa-fw fa-headphones warning"></i>
            </span>
          {{/if}}
        </div>
      </div><div class="component-capacity">
        <div>
          <span class="label label-success">{{node.vmInfo.count}} VMs</span>
          {{#if hasCores}}{{cores}}{{/if}}
          {{#if hasVcpus}}{{vcpus}}{{/if}}
        </div>
        <div class="clearfix">
          <small class="pull-left">Memory (GiB)</small>
          <small class="pull-right">{{memoryPercent}}</small>
        </div>
        <div class="progress xs">
          <div class="progress-bar progress-bar-green" {{bind-attr style="memoryStyle"}}></div>
        </div>
        <div class="clearfix">
          <small class="pull-left">{{to-fixed memoryCurrent 2}}</small>
          <small class="pull-right">{{to-fixed memoryMax 2}}</small>
        </div>
      </div>
      <div {{bind-attr class=":component-charts utilizationMax:double-charts"}}>
        <div class="chart-bar-horizontal">
          <div class="allocation">
            {{#if hasCompute}}
              <span class="hint--top" {{bind-attr data-hint="allocationMessage"}}>
                <small>SCU Allocation</small>
                <div {{bind-attr class=":allocation-bar isRange"}}>
                  <div class="allocation-range"></div> {{! light orange dashed }}
                  <div class="allocation-min" {{bind-attr style="allocationMinWidth"}}></div> {{! light green solid }}
                  <div class="allocation-current">
                    <div class="allocation-current-warning" {{bind-attr style="utilizationBurstStyle"}}></div> {{! orange }}
                    <div class="allocation-current-success" {{bind-attr style="utilizationCurrentWidth"}}></div> {{! green }}
                  </div>
                </div>
                {{n-a utilizationTotal}}
              </span>
            {{else}}
              SCU Utilization: {{n-a utilizationTotal}} SCUs
            {{/if}}
          </div>
        </div>
        <div class="chart-bar-horizontal">
          <div class="clearfix">
            <small class="pull-left">Cache Contention</small>
            <small class="pull-right">{{contentionCurrent}}</small>
          </div>
          <div class="progress xs">
            <div class="progress-bar progress-bar-green" {{bind-attr style="contentionStyle"}}></div>
          </div>
        </div>
      </div>
    </div>
  {{/with}}
  <div class="box-body">
    {{#each vms itemController="cgroups/vm"}}
      <div class="col-lg-4 col-md-6">
        {{partial "cgroups/vm"}}
      </div>
    {{/each}}
  </div>
</div>
