<div {{bind-attr class=":box :box-solid :box-success :component isVmsExpanded::collapsed-box"}}>
  <div class="box-header">
    <div class="box-expand pull-left">
    </div>
    <h3 class="box-title">
      <i class="fa fa-cube"></i>
      Virtual Machines
    </h3>
  </div>
  {{!--
  <div class="box-header" {{action toggleVmsCollapsed this}}>
    <div class="box-expand pull-left">
      {{#if isVmsExpanded}}
        <button class="btn btn-success btn-sm"><i class="fa fa-caret-down"></i></button>
      {{else}}
        <button class="btn btn-success btn-sm"><i class="fa fa-caret-right"></i></button>
      {{/if}}
    </div>
    <h3 class="box-title">
      Virtual Machines
    </h3>
  </div>
  --}}
  {{#with aggregateVm}}
    <div class="box-subheader clearfix">
      <div class="component-status">
        <div class="component-status-state">
          <span class="hint--top" {{bind-attr data-hint="healthMessage"}}>
            <i {{bind-attr class=":fa :fa-fw healthIconClass"}}></i>
          </span>
          <span class="hint--top" {{bind-attr data-hint="operationalMessage"}}>
            <i {{bind-attr class=":fa :fa-fw operationalIconClass"}}></i>
          </span>
          {{#if isAggressor}}
            <span class="hint--top" data-hint="Contention: Aggressor">
              <i class="fa fa-fw fa-bullhorn error"></i>
            </span>
          {{/if}}
        </div>
        <div class="component-status-other">
          <span class="hint--top" {{bind-attr data-hint="slaMessage"}}>
            <i {{bind-attr class=":fa :fa-fw slaIconClass"}}></i>
          </span>
          <span class="hint--top" {{bind-attr data-hint="trustMessage"}}>
            <i {{bind-attr class=":fa :fa-fw trustIconClass"}}></i>
          </span>
          {{#if isVictim}}
            <span class="hint--top" data-hint="Contention: Victim">
              <i class="fa fa-fw fa-headphones warning"></i>
            </span>
          {{/if}}
        </div>
      </div><div class="component-capacity">
        {{!-- <div>2 vCPUs &times; 0.5-1.0 SCU = 1.0-2.0 SCUs</div> --}}
        <div>{{cores}} @ {{cpuFrequency}}</div>
        <div class="clearfix">
          <small class="pull-left">Memory (GiB)</small>
          <small class="pull-right">{{memoryPercent}}</small>
        </div>
        <div class="progress xs">
          <div class="progress-bar progress-bar-green" {{bind-attr style="memoryStyle"}}></div>
        </div>
        <div class="clearfix">
          <small class="pull-left">{{memoryCurrent}}</small>
          <small class="pull-right">{{memoryMax}}</small>
        </div>
      </div><div class="component-charts">
        {{!-- <img src="/assets/images/dials.png"> --}}
      </div>
    </div>
  {{/with}}
  <div class="box-body">
    {{#each vms}}
      {{partial "cgroups/vm"}}
    {{/each}}
  </div>
</div>
