<div id="nodes" class="wrapper skin-blue">
  <aside class="right-side strech">
    <section class="content-header">
      <h1>
        Control Groups
        <small>VMs and cgroups grouped by node</small>
      </h1>
      {{!--
      <ol class="breadcrumb">
        <li>{{#link-to "application"}}<i class="fa fa-dashboard"></i> Home{{/link-to}}</li>
        <li class="active">Control Groups</li>
      </ol>
      --}}
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" {{action "toggleAscending"}}>
          <i {{bind-attr class=":fa sortAscending:fa-sort-amount-asc:fa-sort-amount-desc"}}></i>
        </button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Sort by:
          {{sortedProperty.title}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          {{#each sortableProperties}}
            <li><a {{action "setSortedProperty" this}}>{{title}}</a></li>
          {{/each}}
        </ul>
      </div>
    </section>
    <section class="content">
      <div class="row">
        {{#each nodeCgroups}}
          <section class="col-lg-4 col-md-6">
            {{partial "node"}}
          </section>
        {{/each}}
      </div>
    </section>
  </aside>
</div>
