<div id="node" class="wrapper skin-blue">
  <aside class="right-side strech">
    <section class="content-header">
      <ol class="breadcrumb">
        <li>{{#link-to "nodes"}}<i class="fa fa-dashboard"></i> Host Services{{/link-to}}</li>
        {{#unless isVmsRoute}}
          <li class="active">{{nodeName}}</li>
        {{else}}
          <li>{{#link-to "node"}}{{nodeName}}{{/link-to}}</li>
          <li class="active">VMs</li>
        {{/unless}}
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <section class="col-lg-12">
          <div class="box box-solid box-primary component">
            <div class="box-header" {{action "goToNodes"}}>
              <div class="box-expand pull-left">
                <button class="btn btn-primary btn-sm"><i class="fa fa-minus-square-o"></i></button>
              </div>
              <h3 class="box-title">
                {{nodeName}}
              </h3>
            </div>
            <div class="box-subheader clearfix">
              <div class="component-status">
                <div class="component-status-state">
                  <span class="hint--top" {{bind-attr data-hint="status.short_message"}}>
                    <i {{bind-attr class=":fa :fa-fw healthIconClass"}}></i>
                  </span>
                  <span class="hint--top" {{bind-attr data-hint="operationalMessage"}}>
                    <i {{bind-attr class=":fa :fa-fw operationalIconClass"}}></i>
                  </span>
                  {{#if isAggressor}}
                    <span class="hint--top" data-hint="Contention: Aggressor">
                      <i class="fa fa-fw fa-bullhorn error"></i>
                    </span>
                  {{/if}}
                </div>
                <div class="component-status-other">
                  <span class="hint--top" {{bind-attr data-hint="slaMessage"}}>
                    <i {{bind-attr class=":fa :fa-fw slaIconClass"}}></i>
                  </span>
                  <span class="hint--top" {{bind-attr data-hint="trustMessage"}}>
                    <i {{bind-attr class=":fa :fa-fw trustIconClass"}}></i>
                  </span>
                  {{#if isVictim}}
                    <span class="hint--top" data-hint="Contention: Victim">
                      <i class="fa fa-fw fa-headphones warning"></i>
                    </span>
                  {{/if}}
                </div>
              </div><div class="component-capacity">
                <div>
                  {{#if node.vmInfo.count}}
                    <span class="label label-success">{{node.vmInfo.count}} VMs</span>
                  {{/if}}
                  {{#if isAssuredCoresPhysical}}
                    <ul class="comma-separated">
                      {{#if hasCores}}<li>{{capabilities.cores}} of {{node.utilization.cores.system.max}} cores</li>{{/if}}
                      {{#if hasVcpus}}<li>{{vcpus}}</li>{{/if}}
                    </ul>
                  {{else}}
                    {{n-a capabilities.scu_allocated_min suffix=" allocated SCUs"}}
                  {{/if}}
                </div>
                <div class="chart-bar-horizontal">
                  {{#if hasMemoryRange}}
                    <div class="clearfix">
                      <small class="pull-left">Memory (GiB)</small>
                      <small class="pull-right">{{memoryPercent}}</small>
                    </div>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-green" {{bind-attr style="memoryStyle"}}></div>
                    </div>
                    <div class="clearfix">
                      <small class="pull-left">{{to-fixed memoryCurrentInGib 2}}</small>
                      <small class="pull-right">{{to-fixed memoryMaxInGib 2}}</small>
                    </div>
                  {{else}}
                    {{#if memoryCurrent}}
                      <div>
                        {{readable-size memoryCurrent}} memory
                      </div>
                    {{/if}}
                  {{/if}}
                </div>
              </div>
              <div {{bind-attr class=":component-charts utilizationMax:double-charts"}}>
                <div class="chart-bar-horizontal">
                  <div class="allocation">
                    {{#if hasCompute}}
                      <span class="hint--top" {{bind-attr data-hint="allocationMessage"}}>
                        <small>SCU Allocation</small>
                        <div {{bind-attr class=":allocation-bar isRange"}}>
                          <div class="allocation-range"></div> {{! light orange dashed }}
                          <div class="allocation-min" {{bind-attr style="allocationMinWidth"}}></div> {{! light green solid }}
                          <div class="allocation-current">
                            <div class="allocation-current-warning" {{bind-attr style="utilizationBurstStyle"}}></div> {{! orange }}
                            <div class="allocation-current-success" {{bind-attr style=" "}}></div> {{! green }}
                          </div>
                        </div>
                        {{n-a utilizationTotal}}
                        <a> <i class="fa fa-info-circle"></i> </a>
                      </span>
                    {{else}}
                      {{n-a utilizationTotal suffix=" SCUs" prefix="SCU Utilization: "}}
                    {{/if}}
                  </div>
                </div>
                {{#if hasContention}}
                  <div class="chart-bar-horizontal">
                    <div class="clearfix">
                      <small class="pull-left">Cache Contention</small>
                      <small class="pull-right">{{contentionCurrent}}</small>
                    </div>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-green" {{bind-attr style="contentionStyle"}}></div>
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
            <div class="box-body">
              {{partial "cgroups"}}
            </div>
          </div>
        </section>
      </div>
    </section>
  </aside>
</div>
